!!! 5
html
  head
    link(rel: 'stylesheet', media: 'print',  href: '/stylesheets/print.css')
    link(rel: 'stylesheet', href: '/stylesheets/screen.css')
    link(rel: 'stylesheet', href: '/stylesheets/style.css')
    script(type: 'text/javascript', src: '/js/jquery.js')
    script(type: 'text/javascript', src: '/js/admin.js')
    title!= siteName
  body
    #main(class: 'container')
      div(class: 'span-15 prepend-1 append-1 last')
        header
          nav(class: 'clearfix')!= partial('nav')
          h1!= title
          - if (flashMessages.info.length || flashMessages.error.length)
            #flash!= partial('flash')
        #body!= body
      div(class: 'span-6 append-1 last')!= partial('right_col')
